.lessThen6TasksWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}
.lessThen6Chart {
  width: 500px;
}

.moreThen5TasksWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.moreThen5Chart {
  width: 800px;
}
