@page {
  margin: 20mm;
  border: 1px solid red;
}
.resaultWrapper {
  size: A4 portrait;
  background-color: #fff;
  width: 100%;
  min-width: fit-content;
  min-height: 100vh;
  padding: 1.4rem 1rem;
}
